# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/
env/
*.env

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/

# VS Code / IDEs
.vscode/
.idea/

# macOS / Windows
.DS_Store
Thumbs.db

# Docker
*.pid
